<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New Listings</h3>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="enter you title">
        <br>
        <input type="text" name="listing[description]" placeholder="enter you description">
        <br>
        <input type="text" name="listing[image]" placeholder="enter you URL/Link">
        <br>
        <input type="number" name="listing[price]" placeholder="enter you price">
        <br>
        <input type="text" name="listing[location]" placeholder="enter you location">
        <br>
        <input type="text" name="listing[country]" placeholder="enter you country">
        <br>
        <button>Add</button>
    </form>
</body>
</html>